<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mingw" version="15.1.0" /> <!-- 15.2 does not work correctly. Remember to update docs when this version is updated --> <!--except:systemc-->
  <package id="python3" version="3.12.10" />
  <package id="visualstudio2019buildtools" version="16.11.56.0" /> <!--except:systemc-->
  <package id="visualstudio2019-workload-vctools" /> <!--except:renode-->
  <package id="visualstudio2019-workload-manageddesktopbuildtools" /> <!--except:systemc,except:zephyr,except:test-->
  <package id="dotnet-8.0-sdk" version="8.0.403" /> <!--except:systemc,except:zephyr,except:test-->
  <package id="cmake" />
  <package id="ninja" /> <!--except:systemc,except:renode,except:test-->
  <package id="innosetup" />
</packages>
