name: test-systemc-examples

on:
  pull_request:
  push:
  workflow_dispatch:
    inputs:
      renode_gitrev:
        description: 'Renode git revision'
        required: false
      renode_gitrepo:
        description: 'Renode git repository'
        required: false

env:
  DEBIAN_FRONTEND: noninteractive
  CMAKE_PREFIX_PATH: /opt/toolchains

jobs:
  build-zephyr-binaries:
    name: Build Zephyr Binaries
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          sudo apt-get -qqy update
          sudo apt-get install -qqy cmake ninja-build
      
      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: .
          toolchains: arm-zephyr-eabi

      - name: Build Zephyr
        run: |
          mkdir -p artifacts/zephyr_binaries
          for example in examples/*/zephyr; do
            example_name=$(echo $example | cut -f 2 -d '/')
            west build -p -b stm32f401_mini $example
            cp build/zephyr/zephyr.elf artifacts/zephyr_binaries/$example_name.elf
          done

      - name: Upload Zephyr binaries
        uses: actions/upload-artifact@v4
        with:
          name: zephyr_binaries-${{ github.run_id }}
          path: artifacts/zephyr_binaries

  build-examples:
    name: Build Examples
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get -qqy update
          sudo apt-get install -qqy libsystemc libsystemc-dev clang cmake

      - name: Download and build Renode
        uses: antmicro/renode-test-action@v5.0.0
        with:
          renode-repository: ${{ inputs.renode_gitrepo || 'https://github.com/renode/renode' }}
          renode-revision: ${{ inputs.renode_gitrev || 'master' }}

      - name: Build examples
        run: |
          mkdir -p build
          pushd build
            cmake ..
            make CPPSTD=c++14 -j $(nproc)
          popd

          mkdir -p artifacts/example_binaries artifacts/test_binaries
          for example in examples/*/; do
            example_name="$(basename $example)"
            cp examples/$example_name/bin/$example_name artifacts/example_binaries/x64-systemc--$example_name.elf
          done
          for test in tests/*/; do
            test_name="$(basename $test)"
            cp tests/$test_name/bin/$test_name artifacts/test_binaries/x64-systemc--$test_name.elf
          done
        
      - name: Upload Example Binaries
        uses: actions/upload-artifact@v4
        with:
          name: example_binaries-${{ github.run_id }}
          path: artifacts/example_binaries

      - name: Upload Test Binaries
        uses: actions/upload-artifact@v4
        with:
          name: test_binaries-${{ github.run_id }}
          path: artifacts/test_binaries

  test-examples:
    name: Test Examples
    runs-on: ubuntu-22.04
    needs: build-examples
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get -qqy update
          sudo apt-get install -qqy libsystemc libsystemc-dev

      - name: Download example binaries
        uses: actions/download-artifact@v4
        with:
          name: example_binaries-${{ github.run_id }}
          path: artifacts/example_binaries

      - name: Download test binaries
        uses: actions/download-artifact@v4
        with:
          name: test_binaries-${{ github.run_id }}
          path: artifacts/test_binaries

      - name: Download and build Renode
        uses: antmicro/renode-test-action@v5.0.0
        with:
          renode-repository: ${{ inputs.renode_gitrepo || 'https://github.com/renode/renode' }}
          renode-revision: ${{ inputs.renode_gitrev || 'master' }}

      - name: Run tests
        run: |
          for example in artifacts/example_binaries/*; do
            example_name="$(basename $example | sed -e 's/x64-systemc--//' -e 's/.elf//')"
            mkdir -p examples/$example_name/bin
            cp $example examples/$example_name/bin/$example_name
          done

          for test in artifacts/test_binaries/*; do
            test_name="$(basename $test | sed -e 's/x64-systemc--//' -e 's/.elf//')"
            mkdir -p tests/$test_name/bin
            cp $test tests/$test_name/bin/$test_name
          done

          pushd examples
            renode-test -t all_examples.yaml
          popd

          pushd tests
            renode-test -t all_tests.yaml
          popd
